<div ng-controller="TareasCtrl">
  <p>Esta es la vista de las tareas.</p>
  <a href="https://github.com/aifs24/favelix.git">Link de GitHub</a>
  <p></p>

  <table class="table">
    <tr>
      <th>Archivo</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Tarea 1</td>
      <td>

      </td>
      <td>
        <a href="tareas/tarea1.pdf">PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 2</td>
      <td>

      </td>
      <td>
        <a href="tareas/tarea2.pdf">PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 3</td>
      <td>

      </td>
      <td>
        <a href="tareas/tarea3.pdf">PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 4* (en colaboracion con Abraham)</td>
      <td>
        <a href="tareas/newLambda-mergeSort.zip" download>Codigo*</a>
      </td>
      <td>
        <a href="http://abbsbucket.s3-website-us-west-2.amazonaws.com/#/assignment4">Tarea</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 5</td>
      <td>
        <a ng-href="#/weather">Web App</a>
      </td>
      <td>
        <a href="tareas/tarea5.pdf">PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 6</td>
      <td>

      </td>
      <td>
        <a ng-href="#/slackEndPoint">Endpoint</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 7</td>
      <td>

      </td>
      <td>
        <a ng-href="#/weatherStats">Weather Stats</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 8</td>
      <td>

      </td>
      <td>
        <a ng-href="#/summary">Resumen</a>
      </td>
    </tr>
  </table>
</div>
