<div ng-controller="TareasCtrl">
  <p>Esta es la vista de las tareas.</p>
  <a href="https://github.com/aifs24/favelix.git">Link de GitHub</a>
  <p></p>

  <table class="table">
    <tr>
      <th>Archivo</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Tarea 1</td>
      <td>
        <a href="tareas/tarea1.txt" download>Texto</a>
      </td>
      <td>
        <a href="tareas/tarea1.pdf" download>PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 2</td>
      <td>
        <a href="tareas/tarea2.txt" download>Texto</a>
      </td>
      <td>
        <a href="tareas/tarea2.pdf" download>PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 3</td>
      <td>
        <a href="tareas/tarea3.txt" download>Texto</a>
      </td>
      <td>
        <a href="tareas/tarea3.pdf" download>PDF</a>
      </td>
    </tr>
    <tr>
      <td>Tarea 4* (w/ Abraham)</td>
      <td>

      </td>
      <td>
        <a href="tareas/newLambda-mergeSort.zip" download>Codigo</a>
      </td>
    </tr>
  </table>
</div>
